body {
    background-color: white;
}

#app{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.nav {
    display: flex;
    flex-direction: row;
    margin: 0.5em;
    margin-bottom: -0.5em;
}

.nav .room {
    flex: 1;
}

.nav .room #room {
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.nav .nick {
    width: 200px;
}

.nav .nick #nick {
    border-left: 1px dotted #d1d1d1;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.display {
    flex: 1;
    display: flex;
    flex-direction: row;
    margin: 0.5em;
    height: 700px;
}

@media (max-width: 600px) {
    .display {
        flex-direction: column;
    }
    #list {
        display: none;
    }
    #main {
        border-right: 1px solid #d1d1d1;
        border-top-right-radius: 0.25em;
        border-bottom-right-radius: 0.25em;
    }
}

#main {
    flex: 1;
    border-top: 1px solid #d1d1d1;
    border-right: 1px dotted #d1d1d1;
    border-left: 1px solid #d1d1d1;
    border-bottom: 1px solid #d1d1d1;
    border-top-left-radius: 0.25em;
    border-bottom-left-radius: 0.25em;
    overflow-y: auto;
}

#main:hover {
    border: 1px solid #9b4dca;
}

#main ul {
    list-style: none;
}

#main ul li {
    margin: 0.25em;
    background-color: #eee6ff;
    padding: 1em;
    border-radius: 0.5em;
}

#list {
    width: 200;
    border-top: 1px solid #d1d1d1;
    border-right: 1px solid #d1d1d1;
    border-bottom: 1px solid #d1d1d1;
    border-top-right-radius: 0.25em;
    border-bottom-right-radius: 0.25em;
    overflow-y: auto;
}

#list:hover {
    border: 1px solid #9b4dca;
}

#list ul {
    list-style: none;
}

#list ul li {
    margin: 0.25em;
}

.input {
    display: flex;
    flex-direction: row;
    margin-top: 0.5em;
    box-shadow: 0 10px 10px -5px;
}

.input #input {
    margin-left: 0.5em;
    margin-right: 0.25em;
}

.input #submit {
    margin-left: 0.25em;
    margin-right: 0.75em;
}